@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-underline-offset::after {
  content: '';
  display: block;
  width: 0;
  height: 2px; /* Thickness of the underline */
  background: theme('colors.blue_gray'); /* Underline color */
  transition: width 0.3s ease;
}

.custom-underline-offset:hover::after {
  width: 100%; /* The underline expands on hover */
  display:block;
}
